html {
  height: 96%;
}

html,
body {
  height: 96% !important;
  overflow: inherit !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAP0lEQVQImZ3LsRGAQAwDwTtDE6R08P3XhkWKP+QyzY687pX0AxZVxbczaZKgTYeJ1gGAFu5PlSAqOnGurf/4AsrpDpHqPjDnAAAAAElFTkSuQmCC);
  overflow-y: hidden;
}

.homeTitle {
  height: 60px;
  background: url(../img/homeTitle.png) no-repeat;
  background-size: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-top: 5px;
  margin-bottom: 10px;
}

.Homemain {
  display: flex;
  height: 98%;
  padding: 0 20px;
  overflow-y: hidden;
}

.Homemain .Homeleft {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Homemain .Homeleft .home-left-top {
  flex: 1.5;
  background-image: url("../img/indexBotBak.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.Homemain .Homeleft .home-left-top .home-left-top-title {
  color: #31e0f0;
  font-size: 16px;
  padding: 10px 8%;
  position: relative;
  top: 5px;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-top {
  flex: 1;
  color: rgba(209, 233, 237, 0.7);
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcAAAAABCAYAAABJ5n7WAAAAjElEQVQ4jbWTuw2AMAxEHUQJm7D/JGwCdUKFhCLf+ZyINP68ZweQKAbOed0rQAXNTPLi5FF8c9VHLupFruep+9T6rxnEvLmFvM/I/cxXWZSrHLEsR73of2hB3kfGRmJzaiPczKwKe9h+7z7mKj2Pq47qjjznzE71G1nCZ3PIQXUmosN4NJv2jn2r38YDJYKAAo2gao4AAAAASUVORK5CYII=) bottom no-repeat;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-top div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABUCAYAAABDVl3NAAAAP0lEQVQYlWNgoBm48vkLIxMDAwNOgglOoHFxiiEIZrwS2GSZcbGYCRuATS9+Z+AnGAmzGJkYGBgYmBgYGP4DACgNBLzFyxJAAAAAAElFTkSuQmCC) 100% 100% no-repeat;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-top div span {
  display: block;
  text-align: center;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-top div :last-child {
  color: #09f091;
  font-size: 18px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-bottom {
  flex: 1;
  color: rgba(209, 233, 237, 0.7);
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-bottom div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABUCAYAAABDVl3NAAAAPklEQVQYlWO48vlLHRMDAwMjEwMDAwMTAwPDfzjxjzCLJOIvLi42CfxiOPXiNACnM9AIbH77j4WLTjDQDAAA2mBCP28MLpUAAAAASUVORK5CYII=) 100% 0 no-repeat;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-bottom div span {
  display: block;
  text-align: center;
}

.Homemain .Homeleft .home-left-top .home-left-top-bottom .home-left-top-bottom-bottom div :last-child {
  color: #09f091;
  font-size: 18px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.Homemain .Homeleft .home-left-center {
  flex: 1.5;
  min-width: 365px;
  background-image: url("../img/indexBotBak.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.Homemain .Homeleft .home-left-center .home-left-center-title {
  color: #31e0f0;
  font-size: 16px;
  padding: 2px 8%;
  position: relative;
  top: 12px;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom {
  flex: 1;
  display: flex;
  width: 100%;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom #home-left-center-bottom-left {
  flex: 1;
  height: 100%;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top {
  flex: 1;
  border-bottom: 1px solid #4e6061;
  margin-bottom: 7%;
  color: #565e47;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top:nth-of-type(1) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: green;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top:nth-of-type(1) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: green;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top:nth-of-type(2) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: yellow;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top:nth-of-type(2) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: yellow;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top:nth-of-type(3) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: grey;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top:nth-of-type(3) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: grey;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top span:last-child {
  float: right;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top .home-left-center-bottom-right-top-header {
  margin-bottom: 10px;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top .home-left-center-bottom-right-top-header span:first-child {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 5%;
}

.Homemain .Homeleft .home-left-center .home-left-center-bottom .home-left-center-bottom-right .home-left-center-bottom-right-top .home-left-center-bottom-right-top-footer {
  color: #2cdbe3;
  font-size: 15px;
}

.Homemain .Homeleft #home-left-bottom {
  height: 270px;
}

.Homemain .Homeleft .home-left-bottom {
  flex: 2;
  background-image: url("../img/indexBotBak.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Homemain .Homeleft .home-left-bottom .home-left-bottom-title {
  color: #31e0f0;
  font-size: 16px;
  padding: 15px 8%;
  position: relative;
  top: 5px;
}

.Homemain .Homecenter {
  flex: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.Homemain .Homecenter .home-center-top {
  flex: 2;
  background-color: green;
  margin: 4px 0 15px;
  box-shadow: 0 2px 8px 0 #009688;
}

.Homemain .Homecenter .home-center-bottom {
  height: 310px;
  background-image: url("../img/indexBotBak.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-title {
  color: #31e0f0;
  font-size: 16px;
  padding: 16px 8%;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom {
  height: 210px;
  width: 88%;
  padding: 0 40px 10px;
  overflow: hidden;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content {
  margin: 0 0;
  width: 100%;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content > li {
  height: 40px;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content:hover::-webkit-scrollbar-thumb {
  background: rgba(135, 135, 135, 0.4);
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content:hover::-webkit-scrollbar-track {
  background: rgba(135, 135, 135, 0.1);
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content .mess-span-index {
  color: #618587;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content .time-span-index {
  float: right;
  color: #618587;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content .cause-span-index {
  color: #43b3bb;
}

.Homemain .Homecenter .home-center-bottom .home-center-bottom-bottom .home-center-bottom-bottom-content .state-span-index {
  float: right;
  color: #c91217;
}

.Homemain .Homeright {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Homemain .Homeright .home-right-top {
  flex: 1;
  background-image: url("../img/indexBotBak.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.Homemain .Homeright .home-right-top .home-right-top-title {
  color: #31e0f0;
  font-size: 16px;
  padding: 30px 8%;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom {
  flex: 1;
  padding: 0 50px 20px;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top {
  flex: 1;
  margin-bottom: 5%;
  color: #565e47;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(1) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: #5470c6;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(1) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: #5470c6;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(1) .progress-bar {
  background-color: #5470c6;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(2) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: yellow;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(2) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: yellow;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(2) .progress-bar {
  background-color: yellow;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(3) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: green;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(3) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: green;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(3) .progress-bar {
  background-color: green;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(4) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: red;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(4) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: red;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(4) .progress-bar {
  background-color: red;
  background-color: grey;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(5) .home-left-center-bottom-right-top-header > span:first-child {
  background-color: grey;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top:nth-of-type(5) .home-left-center-bottom-right-top-header > span:nth-of-type(2) {
  color: grey;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top .progressBar {
  width: 100%;
  height: 8px;
  background-color: #313e4a;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top .progress-bar {
  height: 8px;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top span:last-child {
  float: right;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top .home-left-center-bottom-right-top-header {
  margin-bottom: 10px;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top .home-left-center-bottom-right-top-header span:first-child {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 5%;
}

.Homemain .Homeright .home-right-top .home-right-top-bottom .home-left-center-bottom-right-top .home-left-center-bottom-right-top-footer {
  color: #2cdbe3;
  font-size: 15px;
}

.Homemain .Homeright .home-right-bottom {
  height: 330px;
  background-image: url("../img/indexBotBak.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.Homemain .Homeright .home-right-bottom .home-right-bottom-title {
  color: #31e0f0;
  font-size: 16px;
  padding: 15px 8%;
  position: relative;
  top: 5px;
}

.Homemain .Homeright .home-right-bottom #home-right-bottom-bottom {
  flex: 1;
}
