.detail {
  height: 672px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.detail::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.detail::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.detail:hover::-webkit-scrollbar-thumb {
  background: rgba(135, 135, 135, 0.4);
}

.detail:hover::-webkit-scrollbar-track {
  background: rgba(135, 135, 135, 0.1);
}

.detail .biu {
  border-bottom: 1px solid #eeeeee;
}

.detail .biu .biu-title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  position: relative;
  padding-left: 8px;
}

.detail .biu .right-info {
  margin-top: -180px;
  margin-left: 220px;
  width: 70%;
}

.detail .biu .right-info p {
  font-size: 20px;
}

.detail .biu .right-info .right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 142px;
  background: #F8F8FB;
  width: 100%;
  margin-top: 10px;
  padding: 5px 22px;
}

.detail .data-record .data-record-title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  position: relative;
  padding-left: 8px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail .data-record .data-record-content {
  border: 1px solid #eeeeee;
  min-height: 50px;
  max-height: 200px;
  overflow-y: scroll;
  margin-top: 16px;
  padding: 10px;
  padding-left: 46px;
}

.detail .data-record .data-record-content .data-record-content-time {
  height: 18px;
  margin-bottom: 10px;
  font-size: 14px;
}

.detail .data-record .data-record-content p {
  width: 300px;
  margin-top: 8px;
  height: 0px;
  display: inline-block;
}

.detail .data-record .data-record-content p .data-record-content-icon {
  display: inline-block;
  background-color: #59CA50;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.detail .data-record .data-record-content p .data-record-content-detail {
  font-size: 14px;
}

.detail .data-record .data-record-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.detail .data-record .data-record-content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.detail .data-record .data-record-content:hover::-webkit-scrollbar-thumb {
  background: rgba(135, 135, 135, 0.4);
}

.detail .data-record .data-record-content:hover::-webkit-scrollbar-track {
  background: rgba(135, 135, 135, 0.1);
}

.detail .layui-btn-container {
  margin-top: 10px;
  text-align: right;
  margin-bottom: -10px;
}

.detail .classify {
  margin-top: 10px;
  padding-left: 10px;
}

.detail .historyData .layui-table-body {
  overflow-x: hidden;
}

.detail .chartShow {
  height: 230px;
  margin-top: 10px;
}

.detail .chartShow > div {
  height: 400px;
  width: 100%;
  border: 1px solid #eeeeee;
  margin-top: 10px;
}

.detail .chartShow > div:last-child {
  border: 1px solid #eeeeee;
  margin-top: 6px;
}

.layui-table-page > div {
  text-align: right;
}
