.layui-body .layui-tab {
    height: 100%;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.button-add {
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
}

.Realtime-main {
    height: 100%;

    .Realtime-left {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 20px;

        .Realtime-left-top {
            height: 200px;
            background: #1e2e3e;
            padding-left: 10px;
            padding-right: 10px;
            border-bottom: 2px solid #18b1b6;

            .Realtime-left-top-title {
                color: #18b1b6;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: .015em;
                margin-bottom: 20px;
            }

            .Realtime-left-top-content {
                margin-bottom: 20px;
                color: rgba(97, 125, 131, .5);
            }

            .Realtime-left-top-bottom {
                div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    span {
                        border-radius: 50%;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

        .Realtime-left-bottom {
            flex: 1;

            .layui-nav {
                background-color: #1e2e3e;
                width: 100%;
                height: 100%;
                padding-top: 10px;


            }
        }
    }

    .Realtime-right {
        height: 880px;
        background-color: #1c2536;
        padding: 20px;
        position: absolute;
        top: 20px;
        left: 17%;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 4px;
        }

        &:hover::-webkit-scrollbar-thumb {
            background: hsla(0, 0%, 53%, 0.4);
        }

        &:hover::-webkit-scrollbar-track {
            background: hsla(0, 0%, 53%, 0.1);
        }

        .wisdom-electricity {
            height: 100%;
            display: flex;
            flex-direction: column;



            .wisdom-electricity-bottom {
                flex: 1;
                background-color: #1c2536;

                &>div {
                    height: 100%;
                    display: none;

                    div {
                        height: 93%;
                    }
                }

                .current {
                    display: block;
                    height: 100%;
                }

                .wisdom-electricity-bottom-homePage {
                    .wisdom-electricity-bottom-top {
                        height: 40px;
                        background-color: #1c2536;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .wisdom-electricity-bottom-top-title {
                            color: rgba(91, 246, 251, .65);
                            font-size: 15px;
                        }

                        .wisdom-electricity-bottom-top-classify {
                            align-items: center;
                            border: 1px solid #3d4959;
                            height: 30px;
                            display: flex;
                            width: 240px;

                            justify-content: space-between;

                            &>p {
                                display: inline-block;
                                cursor: pointer;
                                width: 55px;
                                height: 30px;
                                display: flex;
                                color: #555;
                                align-items: center;
                                padding-left: 4px;

                                &>span {
                                    border-radius: 50%;
                                    background: chocolate;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    margin-right: 10px;
                                }
                            }
                        }

                        .classifyStyle {
                            border: 1px solid #5f949a;
                        }

                        .wisdom-electricity-bottom-top-search {
                            margin-top: -20px;

                            .layui-input,
                            .layui-textarea,
                            .layui-select {
                                margin-top: 14px;
                                height: 30px;
                                background: #1f2c3c;
                                border: none;
                                color: #fff;
                            }

                            .layui-form {
                                .layui-form-selected dl {
                                    background-color: #3d4959;
                                    border: none;
                                    color: #fff;
                                }

                                .layui-form-select dl dd.layui-this {
                                    background-color: #5f949a;
                                }

                                .layui-form-select dl dd:hover {
                                    background-color: #5f949a;
                                }
                            }

                            .layui-input-inline {
                                display: flex;

                                .layui-edge {
                                    top: 100%;
                                }

                                .layui-btn-primary {
                                    border: none;
                                }

                                .layui-btn {
                                    height: 30px;
                                    line-height: 30px;
                                    margin-top: 14px;
                                    width: 30px;
                                    padding: 0px 4px;
                                    background: #1f2c3c;
                                    border: none;
                                }
                            }
                        }

                        .wisdom-electricity-bottom-top-type {
                            border: 1px solid #3d4959;
                            height: 30px;
                            width: 150px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            cursor: pointer;

                            &>span {
                                height: 28px;
                                width: 92px;
                                display: flex;
                                color: #555;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .wisdom-electricity-bottom-bottom {

                        // width: 1400px;
                        .layui-border-box,
                        .layui-border-box * {
                            background: #1c2536;
                            color: #a5aeaf;


                        }


                        // .layui-table-box {
                        //     overflow-x: scroll;

                           
                        // }

                        .layui-table-header {
                            border: none;
                        }

                        .layui-table-body {
                            position: absolute;
                            top: 40px;
                            left: 0;
                            height: (700px !important);

                            &::-webkit-scrollbar {
                                width: 6px;
                                height: 6px;
                                background: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: transparent;
                                border-radius: 4px;
                            }

                            &:hover::-webkit-scrollbar-thumb {
                                background: hsla(0, 0%, 53%, 0.4);
                            }

                            &:hover::-webkit-scrollbar-track {
                                background: hsla(0, 0%, 53%, 0.1);
                            }
                        }

                        .layui-form {
                            height: (785px !important);

                        }

                        .layui-table-page {
                            height: 38px;

                            .layui-table-page1 {
                                height: 36px;
                            }

                            .layui-laypage {
                                float: right;
                            }
                        }
                    }
                }

                .wisdom-electricity-bottom-electricity {
                    .wisdom-electricity-bottom-top {
                        height: 40px;
                        background-color: #1c2536;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .wisdom-electricity-bottom-top-title {
                            color: rgba(91, 246, 251, .65);
                            font-size: 15px;
                        }

                        .wisdom-electricity-bottom-top-classify {
                            align-items: center;
                            border: 1px solid #3d4959;
                            height: 30px;
                            display: flex;
                            width: 240px;

                            justify-content: space-between;

                            &>p {
                                display: inline-block;
                                cursor: pointer;
                                width: 55px;
                                height: 30px;
                                display: flex;
                                color: #555;
                                align-items: center;
                                padding-left: 4px;

                                &>span {
                                    border-radius: 50%;
                                    background: chocolate;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    margin-right: 10px;
                                }
                            }
                        }

                        .classifyStyle {
                            border: 1px solid #5f949a;
                        }

                        .wisdom-electricity-bottom-top-search {
                            margin-top: -20px;

                            .layui-input,
                            .layui-textarea,
                            .layui-select {
                                margin-top: 14px;
                                height: 30px;
                                background: #1f2c3c;
                                border: none;
                                color: #fff;
                            }

                            .layui-form {
                                .layui-form-selected dl {
                                    background-color: #3d4959;
                                    border: none;
                                    color: #fff;
                                }

                                .layui-form-select dl dd.layui-this {
                                    background-color: #5f949a;
                                }

                                .layui-form-select dl dd:hover {
                                    background-color: #5f949a;
                                }
                            }

                            .layui-input-inline {
                                display: flex;

                                .layui-edge {
                                    top: 100%;
                                }

                                .layui-btn-primary {
                                    border: none;
                                }

                                .layui-btn {
                                    height: 30px;
                                    line-height: 30px;
                                    margin-top: 14px;
                                    width: 30px;
                                    padding: 0px 4px;
                                    background: #1f2c3c;
                                    border: none;
                                }
                            }
                        }

                        .wisdom-electricity-bottom-top-type {
                            border: 1px solid #3d4959;
                            height: 30px;
                            width: 150px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            cursor: pointer;
                            color: #555;

                            &>span {
                                height: 28px;
                                width: 92px;
                                display: flex;
                                color: #555;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .wisdom-electricity-bottom-bottom {

                        // width: 1400px;
                        .layui-border-box,
                        .layui-border-box * {
                            background: #1c2536;
                            color: #a5aeaf;


                        }

                        .layui-table-box {
                            // overflow-x: scroll;

                            &::-webkit-scrollbar {
                                width: 6px;
                                height: 6px;
                                background: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: transparent;
                                border-radius: 4px;
                            }

                            &:hover::-webkit-scrollbar-thumb {
                                background: hsla(0, 0%, 53%, 0.4);
                            }

                            &:hover::-webkit-scrollbar-track {
                                background: hsla(0, 0%, 53%, 0.1);
                            }
                        }

                        // .layui-table-header {
                        //     border: none;
                        // }
                        .layui-table-body {
                            position: absolute;
                            top: 40px;
                            left: 0;
                            height: (700px !important);
                        }

                        .layui-form {
                            height: (830px !important);

                        }

                        .layui-table-page {
                            height: 38px;

                            .layui-laypage {
                                float: right;
                            }
                        }
                    }
                }

                .wisdom-electricity-bottom-water {
                    .wisdom-electricity-bottom-top {
                        height: 40px;
                        background-color: #1c2536;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .wisdom-electricity-bottom-top-title {
                            color: rgba(91, 246, 251, .65);
                            font-size: 15px;
                        }

                        .wisdom-electricity-bottom-top-classify {
                            align-items: center;
                            border: 1px solid #3d4959;
                            height: 30px;
                            display: flex;
                            width: 240px;

                            justify-content: space-between;

                            &>p {
                                display: inline-block;
                                cursor: pointer;
                                width: 55px;
                                height: 30px;
                                display: flex;
                                color: #555;
                                align-items: center;
                                padding-left: 4px;

                                &>span {
                                    border-radius: 50%;
                                    background: chocolate;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    margin-right: 10px;
                                }
                            }
                        }

                        .classifyStyle {
                            border: 1px solid #5f949a;
                        }

                        .wisdom-electricity-bottom-top-search {
                            margin-top: -20px;

                            .layui-input,
                            .layui-textarea,
                            .layui-select {
                                margin-top: 14px;
                                height: 30px;
                                background: #1f2c3c;
                                border: none;
                                color: #fff;
                            }

                            .layui-form {
                                .layui-form-selected dl {
                                    background-color: #3d4959;
                                    border: none;
                                    color: #fff;
                                }

                                .layui-form-select dl dd.layui-this {
                                    background-color: #5f949a;
                                }

                                .layui-form-select dl dd:hover {
                                    background-color: #5f949a;
                                }
                            }

                            .layui-input-inline {
                                display: flex;

                                .layui-edge {
                                    top: 100%;
                                }

                                .layui-btn-primary {
                                    border: none;
                                }

                                .layui-btn {
                                    height: 30px;
                                    line-height: 30px;
                                    margin-top: 14px;
                                    width: 30px;
                                    padding: 0px 4px;
                                    background: #1f2c3c;
                                    border: none;
                                }
                            }
                        }

                        .wisdom-electricity-bottom-top-type {
                            border: 1px solid #3d4959;
                            height: 30px;
                            width: 150px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            cursor: pointer;

                            &>span {
                                height: 28px;
                                width: 92px;
                                display: flex;
                                color: #555;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .wisdom-electricity-bottom-bottom {

                        // width: 1400px;
                        .layui-border-box,
                        .layui-border-box * {
                            background: #1c2536;
                            color: #a5aeaf;


                        }

                        .layui-table-box {
                            // overflow-x: scroll;

                            &::-webkit-scrollbar {
                                width: 6px;
                                height: 6px;
                                background: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: transparent;
                                border-radius: 4px;
                            }

                            &:hover::-webkit-scrollbar-thumb {
                                background: hsla(0, 0%, 53%, 0.4);
                            }

                            &:hover::-webkit-scrollbar-track {
                                background: hsla(0, 0%, 53%, 0.1);
                            }
                        }

                        // .layui-table-header {
                        //     border: none;
                        // }
                        .layui-table-body {
                            position: absolute;
                            top: 40px;
                            left: 0;
                            height: (700px !important);
                        }

                        .layui-form {
                            height: (830px !important);

                        }

                        .layui-table-page {
                            height: 38px;

                            .layui-laypage {
                                float: right;
                            }
                        }
                    }
                }

                .wisdom-electricity-bottom-nb {
                    .wisdom-electricity-bottom-top {
                        height: 40px;
                        background-color: #1c2536;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .wisdom-electricity-bottom-top-title {
                            color: rgba(91, 246, 251, .65);
                            font-size: 15px;
                        }

                        .wisdom-electricity-bottom-top-classify {
                            align-items: center;
                            border: 1px solid #3d4959;
                            height: 30px;
                            display: flex;
                            width: 240px;

                            justify-content: space-between;

                            &>p {
                                display: inline-block;
                                cursor: pointer;
                                width: 55px;
                                height: 30px;
                                display: flex;
                                color: #555;
                                align-items: center;
                                padding-left: 4px;

                                &>span {
                                    border-radius: 50%;
                                    background: chocolate;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    margin-right: 10px;
                                }
                            }
                        }

                        .classifyStyle {
                            border: 1px solid #5f949a;
                        }

                        .wisdom-electricity-bottom-top-search {
                            margin-top: -20px;

                            .layui-input,
                            .layui-textarea,
                            .layui-select {
                                margin-top: 14px;
                                height: 30px;
                                background: #1f2c3c;
                                border: none;
                                color: #fff;
                            }

                            .layui-form {
                                .layui-form-selected dl {
                                    background-color: #3d4959;
                                    border: none;
                                    color: #fff;
                                }

                                .layui-form-select dl dd.layui-this {
                                    background-color: #5f949a;
                                }

                                .layui-form-select dl dd:hover {
                                    background-color: #5f949a;
                                }
                            }

                            .layui-input-inline {
                                display: flex;

                                .layui-edge {
                                    top: 100%;
                                }

                                .layui-btn-primary {
                                    border: none;
                                }

                                .layui-btn {
                                    height: 30px;
                                    line-height: 30px;
                                    margin-top: 14px;
                                    width: 30px;
                                    padding: 0px 4px;
                                    background: #1f2c3c;
                                    border: none;
                                }
                            }
                        }

                        .wisdom-electricity-bottom-top-type {
                            border: 1px solid #3d4959;
                            height: 30px;
                            width: 150px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            cursor: pointer;

                            &>span {
                                height: 28px;
                                width: 92px;
                                display: flex;
                                color: #555;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .wisdom-electricity-bottom-bottom {

                        // width: 1400px;
                        .layui-border-box,
                        .layui-border-box * {
                            background: #1c2536;
                            color: #a5aeaf;


                        }

                        .layui-table-box {
                            // overflow-x: scroll;

                            &::-webkit-scrollbar {
                                width: 6px;
                                height: 6px;
                                background: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: transparent;
                                border-radius: 4px;
                            }

                            &:hover::-webkit-scrollbar-thumb {
                                background: hsla(0, 0%, 53%, 0.4);
                            }

                            &:hover::-webkit-scrollbar-track {
                                background: hsla(0, 0%, 53%, 0.1);
                            }
                        }

                        // .layui-table-header {
                        //     border: none;
                        // }
                        .layui-table-body {
                            position: absolute;
                            top: 40px;
                            left: 0;
                            height: (700px !important);
                        }

                        .layui-form {
                            height: (830px !important);

                        }

                        .layui-table-page {
                            height: 38px;

                            .layui-laypage {
                                float: right;
                            }
                        }
                    }
                }

                .wisdom-electricity-bottom-video {
                    #video {
                        display: flex;
                    }
                }
            }
        }
    }
}

.layui-table th,
.layui-table td,
.layui-table[lay-skin="line"],
.layui-table[lay-skin="row"],
.layui-table-view,
.layui-table-tool,
.layui-table-header,
.layui-table-col-set,
.layui-table-total,
.layui-table-page,
.layui-table-fixed-r,
.layui-table-tips-main,
.layui-table-grid-down {
    border-color: #28374a;
}

#pop-up-add {
    padding: 20px;

    // display: flex;
    &>.layui-form {
        display: flex;
        flex-wrap: wrap;

        &>.layui-form-item {
            width: 50%;

            &>.layui-input-block {
                &>input {
                    width: 70%;
                }
            }

            .layui-form-select {
                width: 70%;
            }
        }

        &>.layui-form-item-submit {
            position: absolute;
            bottom: 0;
            left: 270px;

        }
    }
}

#close-pop-up {
    position: absolute;
    bottom: 16px;
    left: 500px;
}

.layui-form-label.layui-required:after {
    content: "*";
    color: red;
    position: absolute;
    top: 5px;
    left: 15px;
}