html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}

.img {
  width: 70%;
}

.content {
  width: 100%;
  height: 40%;
}

.content .layui-input-block {
  text-align: center;
  margin-left: 0;
}

.content .layui-input-block .layui-input {
  display: inline-block;
  width: 86%;
  margin-top: 10px;
  border-radius: 36px;
}

.content .layui-btn {
  margin-top: 16px;
  width: 86%;
  border-radius: 36px;
}
