html,
body {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    padding: 20px;
}

.faultHand-main-header {
    display: flex;

    .faultHand-main-header-title {
        font-size: 22px;
        color: #43b3bb;
    }


    .faultHand-main-header-right-search {
        display: flex;
        display: flex;
        position: absolute;
        top: 30px;
        left: 700px;


        .layui-input,
        .layui-textarea,
        .layui-select {
            margin-top: 14px;
            height: 30px;
            background: #1f2c3c;
            border: none;
            color: #fff;
        }

        .layui-form {

            .layui-form-selected dl {
                background-color: #3d4959;
                border: none;
                color: #fff;
            }

            .layui-form-select dl dd.layui-this {
                background-color: #5f949a;
            }

            .layui-form-select dl dd:hover {
                background-color: #5f949a;
            }


            .layui-input-inline {
                display: flex;

                .layui-edge {
                    top: 69%;
                }

                .layui-btn-primary {
                    border: none;
                }

                .layui-btn {
                    height: 30px;
                    line-height: 30px;
                    margin-top: 14px;
                    width: 30px;
                    padding: 0px 4px;
                    background: #1f2c3c;
                    border: none;
                }
            }
        }
    }

    .refresh-btn {
        position: absolute;
        right: 50px;
        top: 43px;
        width: 46px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
}


.layui-border-box {
    background: #1c2536;
    color: #a5aeaf;

    .layui-table {
        background: #1c2536;

        /* 偶数行背景色 */
        tbody {
            &>tr {
                &:nth-child(even) {
                    //  background-color: #aaffaa; 
                    background-color: rgba(55, 136, 144, .2);
                    ;
                }

                /* 鼠标指向表格时,奇数行背景颜色 */
                &:hover,
                .layui-table-hover {
                    background-color: #3f3b3b;
                }
            }
        }



        /* 表格头部工具栏背景色 */
        .layui-table-tool {
            background-color: yellow;
        }

        /* 表格头部背景色 */
        th {
            background-color: black;
            /* MediumSeaGreen */
            color: #fff;
            font-weight: bold
        }
    }


}


.layui-tab-title {
    border-bottom: #555;
    color: #a5aeaf;
}

