html {
  overflow-y: hidden !important;
}

.layui-layout-body {
  background-color: transparent;
  overflow: hidden;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAP0lEQVQImZ3LsRGAQAwDwTtDE6R08P3XhkWKP+QyzY687pX0AxZVxbczaZKgTYeJ1gGAFu5PlSAqOnGurf/4AsrpDpHqPjDnAAAAAElFTkSuQmCC);
}

#warn > div {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: -6px;
  top: 10px;
}

.layui-logo img {
  width: 180px;
  height: 60px;
}

.layui-nav-tree .layui-nav-child a {
  text-decoration: none;
}

.layui-nav-tree .layui-nav-item a {
  text-decoration: none;
}

.layui-nav-item-title {
  position: relative;
  top: 14px;
  left: 0px;
  font-size: 22px;
}

.layui-nav .layui-nav-item a {
  text-decoration: none;
}

.layui-nav-item-range {
  width: 30px;
}

.layui-layout-admin .layui-body {
  bottom: 0;
  top: 50px;
  height: 100%;
}

.layui-body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAP0lEQVQImZ3LsRGAQAwDwTtDE6R08P3XhkWKP+QyzY687pX0AxZVxbczaZKgTYeJ1gGAFu5PlSAqOnGurf/4AsrpDpHqPjDnAAAAAElFTkSuQmCC);
  background-color: #1b2535;
  overflow-y: hidden;
}

.layui-body .layui-tab {
  height: 91%;
}

.layui-body .layui-tab .layui-tab-content {
  height: 100%;
  padding: 0;
}

.layui-body .layui-tab .layui-tab-content .layui-tab-item {
  height: 100%;
}

.layui-body .layui-tab .layui-tab-content .layui-tab-item > div {
  display: none;
}

.layui-body .layui-tab .layui-tab-content .layui-tab-item > div.current {
  display: block;
  height: 100%;
}

.layui-body .layui-tab-title .layui-this {
  color: white;
}

.layui-body .layui-tab-title {
  border-bottom: 1px solid rgba(67, 101, 137, 0.3);
  box-shadow: 0 1px 3px 2px #231933;
}

.layui-body .layui-tab-title .layui-this:after {
  border: 1px solid rgba(67, 101, 137, 0.3);
  border-radius: 8px 8px 0 0;
}

.current {
  display: block;
  height: 100%;
}
