html,
body {
  height: 100%;
  overflow: hidden;
}

.manage-main {
  height: 100%;
  padding: 20px;
  padding-top: 0;

  .main-content {
    background-color: #1e2e3e;
    margin-top: 20px;
    box-shadow: 0 2px 8px 0 #009688;
    border-radius: 5px;
    height: 92%;
  }

  .layui-border-green {
    border-color: #009688 !important;
    color: #009688 !important;
    width: 98%;
    margin: 10px auto;
  }

  section {
    .layui-tab-content {
      text-align: right;
      height: 10px;

      .wisdom-electricity-bottom-top-classify {
        align-items: center;
        border: 1px solid #3d4959;
        height: 30px;
        display: flex;
        width: 140px;
        justify-content: space-between;
        margin-left: 10px;
        margin-top: -5px;

        &>p {
          display: inline-block;
          cursor: pointer;
          width: 65px;
          height: 30px;
          display: flex;
          color: #555;
          align-items: center;
          padding-left: 4px;

          &>span {
            border-radius: 50%;
            background: chocolate;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 10px;
          }
        }
      }

      .layui-btn-group {
        position: relative;
        top: -8px;
        right: 20px;
      }

      .layui-disabled {
        text-align: center;
      }

      .classifyStyle {
        border: 1px solid #5f949a;
      }

      .faultHand-main-header-right-search {
        display: flex;
        position: absolute;
        top: 18px;
        left: 310px;

        .layui-form {
          margin-right: 50px;

          .layui-form-selected {
            dl {
              background-color: #3d4959;
              border: none;
              color: #fff;

              &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background: transparent;
              }

              &::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 4px;
              }

              &:hover {
                &::-webkit-scrollbar-thumb {
                  background: rgba(135, 135, 135, 0.4);
                }

                &::-webkit-scrollbar-track {
                  background: rgba(135, 135, 135, 0.1);
                }
              }

              dd {
                text-align: left;
              }
            }
          }

          .layui-form-select {
            dl {
              dd {
                &.layui-this {
                  background-color: #5f949a;
                }

                &:hover {
                  background-color: #5f949a;
                }
              }
            }
          }

          .layui-form-label {
            padding: 0;
            padding-top: 20px;
            padding-right: 20px;
            color: #fff;
            text-align: center;
          }

          .layui-input-inline {
            display: flex;

            .layui-edge {
              top: 69%;
            }

            .layui-btn-primary {
              border: none;
            }

            .layui-btn {
              height: 30px;
              line-height: 30px;
              margin-top: 14px;
              width: 30px;
              padding: 0px 4px;
              background: #1f2c3c;
              border: none;
            }
          }
        }
      }
    }
  }

  &>div {
    &>div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow-y: scroll;
      height: 90%;
      padding: 5px 15px 10px 15px;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background: rgba(135, 135, 135, 0.4);
        }

        &::-webkit-scrollbar-track {
          background: rgba(135, 135, 135, 0.1);
        }
      }

      &>div {
        width: 300px;
        margin: 0 0 20px 0;
        height: 135px;
        display: inline-block;
        border: 1px solid #009688;
        position: relative;
        background: #353f4b;
        box-shadow: 0 0px 8px 0 #009688;

        &:hover {
          border: 1px solid #d81e06;
        }

        section {
          position: absolute;
          top: 105px;
          color: #d2bf90;
          width: 45%;
          font-weight: 800;
          text-align: center;
        }

        div {
          position: absolute;
          width: 100px;
          height: 100px;
          background: url(../img/red.png) no-repeat center 50%;
          background-size: 90% 90%;
          top: 5px;
          left: 14px;
          margin-right: 2px;
        }

        &>aside {
          color: #97c9e9;
          height: 100%;
          display: flex;
          flex-direction: column;
          padding-top: 10px;
          position: absolute;
          left: 45%;

          article {
            position: absolute;
            top: 0;
            right: 0;
          }

          p {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.manage-main section .layui-tab-content .faultHand-main-header-right-search .layui-input,
.manage-main section .layui-tab-content .faultHand-main-header-right-search .layui-textarea,
.manage-main section .layui-tab-content .faultHand-main-header-right-search .layui-select {
  margin-top: 14px;
  height: 30px;
  background: #393d49;
  border: none;
  color: #fff;
}

.Realtime-main {
  height: 100%;
  margin-left: 20px;

  .Realtime-left {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1e2e3e;
    box-shadow: 0 2px 8px 0 #009688;
    border-radius: 5px;

    .title {
      border-bottom: 1px solid #eee;

      .titleList {
        color: #eee;
        text-align: center;
        font-size: 20px;
      }
      .count{
        text-align: center;
        color: #eee;
        margin-top: 18px;
        margin-bottom: 10px;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 4px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba(135, 135, 135, 0.4);
      }

      &::-webkit-scrollbar-track {
        background: rgba(135, 135, 135, 0.1);
      }
    }

    #zreeList {
      .layui-tree-txt {
        color: #a3c1b0;
      }

      .layui-tree-entry {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.Realtime-main .layui-nav .layui-badge,
.Realtime-main .layui-nav .layui-badge-dot {
  top: 50%;
  right: 10px;
  width: 25px;
}

.layui-table-page>div{
  text-align: right;
}