html,
body {
  height: 97%;
  padding: 10px;
}

.unitManage-main {
  background-color: #1c2536;
  box-shadow: 0 2px 8px 0 #009688;
  border-radius: 5px;
  padding: 20px;
}

.unitManage-main .unitManage-main-header {
  height: 50px;
}

.unitManage-main .unitManage-main-header .unitManage-main-header-title {
  font-weight: 600;
  font-size: 22px;
  color: #43b3bb;
  line-height: 50px;
  display: inline-block;
}

.unitManage-main .unitManage-main-header .unitManage-main-header-add {
  display: inline-block;
  float: right;
  line-height: 50px;
}

.unitManage-main .unitManage-main-content {
  height: 97%;
}

.unitManage-main .unitManage-main-header .faultHand-main-header-right-search .layui-input,
.unitManage-main .unitManage-main-header .faultHand-main-header-right-search .layui-textarea,
.unitManage-main .unitManage-main-header .faultHand-main-header-right-search .layui-select {
  margin-top: 14px;
  height: 30px;
  background: #1f2c3c;
  border: none;
  color: #fff;
}

#pop-up-add .layui-form .layui-form-item {
  width: 85%;
  margin-top: 20px;
}

#pop-up-add .layui-form .layui-form-item-img {
  width: 85%;
  margin-top: 20px;
}

#pop-up-add .layui-form > .layui-form-item-submit {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
}

#close-pop-up {
  margin-left: 30px;
}
