html,
body {
    height: 97%;
    padding: 10px;
}

.unitManage-main {
    height: 97%;

    .unitManage-main-header {
        height: 50px;

        .unitManage-main-header-title {
            font-weight: 600;
            font-size: 22px;
            color: #43b3bb;
            line-height: 50px;
            display: inline-block;
        }

        .unitManage-main-header-add {
            display: inline-block;
            float: right;
            line-height: 50px;
        }

        .faultHand-main-header-right-search {
            display: flex;
            display: flex;
            position: absolute;
            top: 18px;
            left: 160px;


            .layui-input,
            .layui-textarea,
            .layui-select {
                margin-top: 14px;
                height: 30px;
                background: #1f2c3c;
                border: none;
                color: #fff;
            }

            .layui-form {
                margin-right: 50px;

                .layui-form-selected dl {
                    background-color: #3d4959;
                    border: none;
                    color: #fff;
                }

                .layui-form-select dl dd.layui-this {
                    background-color: #5f949a;
                }

                .layui-form-select dl dd:hover {
                    background-color: #5f949a;
                }

                .layui-form-label {
                    padding: 0;
                    padding-top: 20px;
                    padding-right: 20px;
                    color: #fff;
                    text-align: center;
                }


                .layui-input-inline {
                    display: flex;

                    .layui-edge {
                        top: 69%;
                    }

                    .layui-btn-primary {
                        border: none;
                    }

                    .layui-btn {
                        height: 30px;
                        line-height: 30px;
                        margin-top: 14px;
                        width: 30px;
                        padding: 0px 4px;
                        background: #1f2c3c;
                        border: none;
                    }
                }
            }
        }
    }

    .unitManage-main-content {
        height: 97%;

        .layui-border-box {
            background: #1c2536;
            color: #a5aeaf;

            .layui-table {
                background: #1c2536;

                /* 偶数行背景色 */
                tbody {
                    &>tr {
                        &:nth-child(even) {
                            //  background-color: #aaffaa; 
                            background-color: rgba(55, 136, 144, .2);
                            ;
                        }

                        /* 鼠标指向表格时,奇数行背景颜色 */
                        &:hover,
                        .layui-table-hover {
                            background-color: #3f3b3b;
                        }
                    }
                }



                /* 表格头部工具栏背景色 */
                .layui-table-tool {
                    background-color: yellow;
                }

                /* 表格头部背景色 */
                th {
                    background-color: black;
                    /* MediumSeaGreen */
                    color: #fff;
                    font-weight: bold
                }
            }


        }


        .layui-table-box {
            // overflow-x: scroll;



            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 4px;
            }

            &:hover::-webkit-scrollbar-thumb {
                background: hsla(0, 0%, 53%, 0.4);
            }

            &:hover::-webkit-scrollbar-track {
                background: hsla(0, 0%, 53%, 0.1);
            }
        }

        .layui-table-header {
            border: none;
            height: 740px;
            background: #1c2536;
        }

        .layui-table-body {
            position: absolute;
            top: 40px;
            left: 0;
            height: (700px !important);



        }

        .layui-form {
            height: (785px !important);

        }

        .layui-table-page {
            height: 38px;

            .layui-table-page1 {
                height: 36px;
            }

            .layui-laypage {
                float: right;
            }
        }

    }
}


//表格边框

.layui-table td,
.layui-table th,
.layui-table-col-set,
.layui-table-fixed-r,
.layui-table-grid-down,
.layui-table-header,
.layui-table-page,
.layui-table-tips-main,
.layui-table-tool,
.layui-table-total,
.layui-table-view,
.layui-table[lay-skin=line],
.layui-table[lay-skin=row] {
    border: none;
}







//新增弹窗样式
#pop-up-add {
    .layui-form {
        display: flex;
        flex-wrap: wrap;

        .layui-form-item {
            width: 480px;

            .layui-form-label {
                width: 112px;
            }

            .layui-input-block {
                margin-left: 150px;
            }
        }

        &>.layui-form-item-submit {
            position: absolute;
            bottom: 0;
            left: 270px;

        }
    }
}

#close-pop-up {
    position: absolute;
    bottom: 16px;
    left: 500px;
}

// .layui-form-label.layui-required:after {
//     content: "*";
//     color: red;
//     position: absolute;
//     top: 5px;
//     left: 15px;
// }