html,
body {
  padding: 10px;
  height: 97%;
}

.userManage-main {
  height: 97%;
}

.userManage-main section p {
  font-weight: 600;
  font-size: 22px;
  color: #43b3bb;
  line-height: 50px;
  display: inline-block;
  position: absolute;
}

.userManage-main section .layui-tab-content {
  text-align: right;
}

.userManage-main section .layui-tab-content .layui-disabled {
  text-align: center;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search {
  display: flex;
  display: flex;
  position: absolute;
  top: 24px;
  left: 180px;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-input,
.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-textarea,
.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-select {
  margin-top: 14px;
  height: 30px;
  background: #1f2c3c;
  border: none;
  color: #fff;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form {
  margin-right: 50px;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-form-selected dl {
  background-color: #3d4959;
  border: none;
  color: #fff;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-form-select dl dd.layui-this {
  background-color: #5f949a;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-form-select dl dd:hover {
  background-color: #5f949a;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-form-label {
  padding: 0;
  padding-top: 20px;
  padding-right: 20px;
  color: #fff;
  text-align: center;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-input-inline {
  display: flex;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-input-inline .layui-edge {
  top: 69%;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-input-inline .layui-btn-primary {
  border: none;
}

.userManage-main section .layui-tab-content .faultHand-main-header-right-search .layui-form .layui-input-inline .layui-btn {
  height: 30px;
  line-height: 30px;
  margin-top: 14px;
  width: 30px;
  padding: 0px 4px;
  background: #1f2c3c;
  border: none;
}

.userManage-main .userManage-main-content {
  height: 97%;
}

.userManage-main .userManage-main-content .layui-col-space15 > * {
  padding: 25px;
}

.userManage-main .userManage-main-content .layui-card {
  height: 150px;
}

.userManage-main .userManage-main-content .handle-btn {
  position: absolute;
  top: 0;
  right: 10px;
}

.userManage-main .userManage-main-content .handle-btn .layui-btn {
  height: 26px;
  line-height: 26px;
  width: 26px;
  padding: 0;
}

.userManage-main .userManage-main-content .layui-card-body img {
  width: 12%;
}

.userManage-main .userManage-main-content .layui-card-body div {
  position: absolute;
  left: 22%;
  top: -5px;
}

#pop-up-add .layui-form {
  display: flex;
  flex-wrap: wrap;
  height: 280px;
  align-items: center;
}

#pop-up-add .layui-form .layui-form-item {
  width: 480px;
}

#pop-up-add .layui-form .layui-form-item .layui-form-label {
  width: 112px;
}

#pop-up-add .layui-form .layui-form-item .layui-input-block {
  margin-left: 150px;
}

#pop-up-add .layui-form > .layui-form-item-submit {
  position: absolute;
  bottom: 0;
  left: 270px;
}

#close-pop-up {
  position: absolute;
  bottom: 16px;
  left: 500px;
}
