body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body iframe {
  margin-bottom: 30px;
  width: 650px;
  height: 600px;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

body:hover::-webkit-scrollbar-thumb {
  background: rgba(135, 135, 135, 0.4);
}

body:hover::-webkit-scrollbar-track {
  background: rgba(135, 135, 135, 0.1);
}
